
$color-rcsbFvBorder: #DDDDDD;
$border-rcsbFvRowTrack: 1px;

div.rcsbFvBoard *{
    box-sizing: content-box;
}

.rcsbFvRowTitle{
  float:left;
}

.rcsbFvRow:not(.rcsbFvRowAxis) > .rcsbFvRowTitle > .rcsbFvRowTitleProvenanceFlag{
    background-color: $color-rcsbFvBorder;
    width: 1px;
    border-top: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
}

.rcsbFvRow:last-child:not(.rcsbFvRowAxis) > .rcsbFvRowTitle > .rcsbFvRowTitleProvenanceFlag {
    border-bottom: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
}

.rcsbFvRowTitle div{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: right;
}

.rcsbFvRowTrack{
    float:right;
}

.rcsbFvRow{
    margin-top: $border-rcsbFvRowTrack;
}

.rcsbFvRow:not(.rcsbFvRowAxis) > .rcsbFvRowTrack div{
    border-left: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
    border-right: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
    border-top: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
}

.rcsbFvRow:last-child:not(.rcsbFvRowAxis) > .rcsbFvRowTrack div{
    border-bottom: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
}

.rcsbFvTooltip {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    border: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
    padding-left:8px;
    padding-right:8px;
    background-color:#F9F9F9;
    vertical-align: middle;
    position: absolute;
    z-index: 2147483647;
}

.rcsbFvTooltipDescription {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    border: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
    background-color:#F9F9F9;
    position: absolute;
    padding-left:8px;
    padding-right:8px;
    color: #888888;
    z-index: 2147483646;
}

.rcsbFvTooltipDescription div {
    vertical-align: middle;
    text-align: right;
}

.rcsbFvTooltipDescription div:not(:last-child) {
    border-bottom: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
}

[popper-hidden] {
    visibility: hidden;
    pointer-events: none;
}

.rcsbFvZoomButton {
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #DDD;
    border-radius: 9px;
    margin-left: 5px;
    float: right; display: inline-block;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.rcsbFvZoomButton:hover {
    cursor: pointer;
}
