.rowTitle{
    display: inline-block;
    float:left;
}

.rowTitle div{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
}

.rowTrack{
    display: inline-block;
    float: right;
}