
$color-rcsbFvBorder: #DDDDDD;
$border-rcsbFvRowTrack: 1px;

.rcsbFvRowTitle{
  float:left;
}

.rcsbFvRowTitle div{
    display: table-cell;
    vertical-align: middle;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
}

.rcsbFvRowTrack{
    float:right;
}

.rcsbFvRow{
    margin-top: $border-rcsbFvRowTrack;
}

.rcsbFvRow:not(.rcsbFvRowAxis) > .rcsbFvRowTrack div{
    border-left: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
    border-right: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
    border-top: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
}

.rcsbFvRow:last-child:not(.rcsbFvRowAxis) > .rcsbFvRowTrack div{
    border-bottom: $border-rcsbFvRowTrack solid $color-rcsbFvBorder;
}
