//
// VARIABLES
//
// Fonts sizes
$tiny-font   : 10px;
$small-font  : 12px;
$normal-font : 14px;

// 
// MIXINS
//
//
@mixin tiny-font {
    font-size : $tiny-font;
}

@mixin small-font {
    font-size : $small-font;
}

@mixin normal-font {
    font-size : $normal-font;
}

@mixin transition ($target, $duration) {
    -webkit-transition: $target $duration ease;
    -moz-transition: $target $duration ease;
    -o-transition: $target $duration ease;
    -ms-transition: $target $duration ease;
    transition: $target $duration ease;
}

@mixin rotate ($amount) {
    -webkit-transform: rotate($amount); 
    -moz-transform: rotate($amount);
    -o-transform: rotate($amount);
    -ms-transform: rotate($amount);
    transform: rotate($amount);
}

@mixin round-borders ($amount) {
        border-radius : $amount;
	-webkit-border-radius: $amount;
	-moz-border-radius: $amount;  
}

