@import "main";

.rcsbDom{
  visibility: visible;
}

svg.rcsbSvg {
  text {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
  }
}

.rcsbSvg{
  visibility: visible;
}

.rcsbMasterG{
  visibility: visible;
}

.rcsbInnerG{
  visibility: visible;
}

.rcsbPane{
  visibility: visible;
}

.rcsbTrack{
  visibility: visible;
}

.rcsbTrackRect{
  visibility: visible;
}

.rcsbArea{
  visibility: visible;
}

.rcsbElement{
  visibility: visible;
  cursor: pointer;
}

.rcsbDecorator{
  visibility: visible;
}

.rcsbFixed{
  visibility: visible;
}

.rcsbSelectRect{
  visibility: visible;
}

.rcsbHoverRect{
  visibility: visible;
}

.rcsbBoardRect{
  visibility: visible;
}

.rcsbVariantGrid line, .rcsbVariantGrid path{
  visibility: visible;
  stroke: #DDDDDD;
}

.rcsbAxis{
  visibility: visible;
}

.rcsbElemSeqBg{
  visibility: visible;
}

.rcsbAxis path {
  fill: none;
  stroke: grey;
  stroke-width: 1;
}

.tick text {
  font-size: 0.7em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  fill: grey;
}

.tick text {
  @include tiny-font;
}
