@import "main";


//
// ELEMENTS
//
//
svg {
    text {
	-webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
    }
}

.tnt_axis path, .tnt_axis line {
	fill: none;
}

.tnt_track path, .tnt_track line {
	stroke: grey;
	stroke-width: 1;
}

.tick text {
	font-size: 0.7em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	fill: grey;
}

.tick text {
    @include tiny-font;
}


.tnt_name {
    @include normal-font;
}

.tnt_elem {
	cursor: pointer;
}
