@import "main";


//
// ELEMENTS
//
//
svg {
    text {
	-webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
    }
}

.tnt_track path,
.tnt_track line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
}
.tick text {
	font-size: 0.7em;
}

.tnt_groupDiv {
    position : relative;
    margin : 0px 3px 5px 3px;
}



.tick text {
    @include tiny-font;
}


.tnt_name {
    @include normal-font;
}

.tnt_elem {
	cursor: pointer;
}
